<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://crappydayproductions/TacoWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="8uVZF788Jk.AnalogWatch" package="8uVZF788Jk" required_version="2.3.1"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="taco_bell.png" height="117" width="117"/>
    <name>TacoWatch</name>
    <tizen:profile name="wearable"/>
</widget>
